// 블로그 글 작성 규칙

블로그 글 작성 시 블로그 글 작성 규칙을 준수해야 한다.

1. 논증(論證)의 미학(美學)

- 취향을 두고 논쟁하지 말라
글을 쓸 때 단순한 취향 고백과 논증해야 할 주장을 분명하게 구별해서 글을 작성한다.

- 주장은 반드시 논증하라
어떤 주장을 할 떄는 반드시 근거를 제시함으로써 옳은 주장이라는 것을 논증해야 한다.

글을 쓸 때는 사실을 수학의 공리처럼 대해야 한다.

- 주제에 집중하라
애초에 하려고 했던 이야기가 무엇인지 잊지 말고 처음부터 끝까지 직선으로 논리를 밀고 가야 한다.


2. 글쓰기의 철칙
블로그 포스팅에서 아래와 같은 철칙을 반드시 지킨다.

- 글쓰기의 철칙 1
무슨 이야기를 하는지 주제가 분명해야 한다.

그 주제를 다루는 데 꼭 필요한 사실과 중요한 정보를 담아야 한다.

그 사실과 정보 사이에 어떤 관계가 있는지 분명하게 나타내야 한다.

주제와 정보와 논리를 적절한 어휘와 문장으로 표현해야 한다.

- 악평과 혹평을 겁내지 말자
글은 지식과 철학을 자랑하려고 쓰는게 아니다.

화려한 문장을 쓴다고 해서 훌륭한 글이 되는 게 아니다.

사람의 마음에 다가서야 훌륭한 글이 된다.

글을 쓸 때는 읽는 사람이 누구일지 미리 살펴야 한다.

글을 써씅면 남에게 보여주어야 한다.

혹평을 받더라도 두려워하지 말아야 한다.

혹평도 반갑게 듣고 즐겨야 한다. 그렇게 해야 글이 좋아진다.

남몰래 쓴 글을 혼자 끌어안고만 있으면 글이 늘지 않는다.

3. 책 읽기와 글쓰기
- 독해력
- 모국어가 중요하다
- 번역서가 불편한 이유
- 말이 글보다 먼저다
- 추천도서 목록을 무시하라

4. 전략적 독서
- 독해란 무엇인가
- 글쓰기에 유익한 독서법
논리적 글쓰기를 하려면 추상적 개념을 담은 어휘를 많이 알고 명료한 문장을 쓸 줄 알아야 한다.

5. 못난 글을 피하는 법
몬난 글을 피하는 방법은 반드시 지켜서 작성해야 한다.

- 못난 글 알아보기
입으로 소리내어 읽기 어렵다면, 귀로 듣기에 좋지 않다면 못난 글이다.

독자가 편하게 읽고 쉽게 이해할 수 있도록 쓰는 것이 기본이다.

- 우리글 바로쓰기

다른 사람들이 잘못 쓴 글을 알아보지 못하면 자기가 잘못 쓴 것도 모른다.

한자를 병오하지 않으면 뜻을 알기 어려운 단어는 되도록 쓰지 않는다.

일본말 토씨와 피동형 문장을 쓰지 않는다.

- 단문 쓰기

주어와 서술어가 하나씩만 있는 문장을 작성한다.

글은 단문으로 작성한다.

6. 아날로그 방식 글쓰기

- 짧은 글쓰기
같은 정보를 담고 있는 글이라면 짧은 글이 좋다.

- 군더더기 없애는 법
문장을 되도록 짧고 간단하게 쓰는 것이 좋다.

군더더기를 없애는 것이 좋다.

논리 글에서 중요한 것은 그런 화려함과 기교가 아니라 뜻을 간결하고 정확하게 전달하는 문장의 힘과 효율성이다.

- 소통의 비결

글을 쓸 때는 주제를 뚜렷이 하고 꼭 필요한 사실과 정보를 담는다.

사실과 정보를 논리적 관계로 묶어줄 때는 정확한 어휘를 선택해서 말하듯 자연스러운 문장으로 표현한다.

중복을 피하고 군더더기를 덜어냄으로써 글을 최대한 압축한다.

다른 정보가 없어도 이해할 수 있도록 텍스트를 쓰려면 철저하게 독자를 존중해야 한다.

글을 다른 사람이 이해할 수 있게 쓰는 것이 중요하다.

텍스트 안에서 뜻이 분명하게 드러나지 않는 말은 되도록 쓰지 말아야 한다.

글을 잘 쓰려면 왜 쓰는지를 잊지 말아야 한다.

왜 쓰는지 모르면 잘 쓸 수 없기 때문이다.

7. 글쓰기는 축복이다

- 사는 만큼 쓴다
글을 잘 쓰려면 왜 쓰는지를 생각해야 한다.

글은 온몸으로, 삶 전체로 쓰는 것이다.

논리 글쓰기를 잘하고 싶다면 그에 맞게 살아야 한다.